.subtitle{
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 400;
    color: #f2994a;
}
.title{
    font-size: 1.5rem;
    color: #2d9cdb!important;
    font-weight: 700;
}
@media (min-width: 992px)
{
    .col-lg-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (min-width: 1200px)
{
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}
@media (min-width: 992px)
{
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
}
@media (min-width: 768px)
{
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
}
@media (min-width: 576px)
{
    .container, .container-sm {
        max-width: 540px;
    }
    @media (min-width: 1200px)
    {
        .container {
            max-width: 1140px;
        }
    }
}
@media (min-width: 992px)
{
    .container {
        max-width: 960px;
    }
    @media (min-width: 768px)
    {
        .container {
            max-width: 720px;
        }
    }
}
@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.service{
    padding: 30px;
    background: #fff;
    border: 1px solid #eee;
    border-top: 2px solid #bd1220;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: relative;
    top: 0;
}
.h-100 {
    height: 100%!important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
@media (min-width: 1200px)
{
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
}
}
@media (min-width: 992px)
{
    .container, .container-lg, .container-md, .container-sm {
        max-width: 960px;
    }
}
@media (min-width: 768px)
{
    .container, .container-md, .container-sm {
        max-width: 720px;
    }
}
@media (min-width: 576px)
{
    .container, .container-sm {
        max-width: 540px;
    }
    
}
@media (min-width: 1200px)
{
    .container {
        max-width: 1140px;
    }
    
}
@media (min-width: 992px)
{
    .container {
        max-width: 960px;
    }
}
@media (min-width: 768px)
{
    .container {
        max-width: 720px;
    }
}
@media (min-width: 576px)
{
    .container {
        max-width: 540px;
    }
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}
.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.text-center {
    text-align: center!important;
}
.ml-auto, .mx-auto {
    margin-left: auto!important;
}
.mr-auto, .mx-auto {
    margin-right: auto!important;
}
@media (min-width: 768px)
{
    .col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
}
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.section-title[_ngcontent-gsr-c6] .title[_ngcontent-gsr-c6] {
    font-size: 1.5rem;
    color: #2d9cdb!important;
    font-weight: 700;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.section-title .sub-title{
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-weight: 400;
    color: #f2994a;
}
.mb-2, .my-2 {
    margin-bottom: 0.5rem!important;
}
.d-block {
    display: block!important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
@media (min-width: 992px)
{
    .col-lg-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.airlines-div{
    padding: 30px 10px 20px 30px;
    color: #000;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
    line-height: 1.7;
    font-style: italic;
}
.h-100 {
    height: 100%!important;
}
.bg-white {
    background-color: #fff!important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.airlines-header {
    font-size: 24px;
    font-weight: 700;
    color: #f2994a;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}

h5 {
    display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.airlines-div .airlines-text {
    font-size: 16px;
    font-weight: 700;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.ticked-icon {
    margin-right: 10px;
}
img {
    vertical-align: middle;
    border-style: none;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.airlines-div {
    padding: 30px 10px 20px 30px;
    color: #000;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
    line-height: 1.7;
    font-style: italic;
}
.airlines-div .span {
    margin-left: -7px;
    font-size: 14px;
}
.airlines-div .please-note {
    color: red;
    font-size: 14px;
}
.faq-div{
    padding: 30px 10px 20px 30px;
    color: #000;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 10%);
    line-height: 1.7;
    font-style: italic;
    background: #FFFFFF;
}
.faq-div .h2{
    padding-left: 40px;
}
.text-primary {
    color: #007bff!important;
}
.h2, h2 {
    font-size: 2rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}

h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.dl .ol .ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.faq-div li {
    font-size: 24px;
    font-weight: 700;
    color: #f2994a;
}

.li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.site-wrap .faq-div p{
    font-size: 14px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.faq-div .cont-us {
    padding-left: 40px;
    padding-bottom: 20px;
}
.faq-div .cont-us h5 {
    font-size: 24px;
    font-weight: 700;
    color: #f2994a;
}
.faq-div p {
    font-size: 14px;
}
@font-face {
    font-family: robo;
    src: url(../Roboto/Roboto-Regular.ttf);
}
